/* Nintendo DSi Shop Style CSS */
/* In separate file to reduce main CSS file clutter */

/* Define custom font */
@font-face {
    font-family: NDS-BIOS;
    src: url(../fonts/Nintendo-DS-BIOS.ttf);
}

/* Body styles */
body {
    background-color: #F5F5F5;
    font-family: NDS-BIOS; 
    font-size: x-large; 
}

/* Header styles */
header {
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

/* Header link styles */
header h1 a {
    color: black;
    text-decoration: none;
}

/* Logo styles */
#logo {
    float: left;
    margin-right: 10px;
}

/* Heading styles */
h1 {
    display: inline;
}

/* Subheading styles */
h3 {
    font-size: 24pt;
}

/* Paragraph styles */
p {
    font-size: 10pt;
}

/* Product description styles */
.product-description{
    font-size: x-large;
    padding-right: 20px;
}

/* Title styles */
#title {
    display: block;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
  
/* Page info styles */
#page-info {
    width: 60%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.1em;
}

/* Main content styles */
main {
    background-color: #fff;
    border-radius: 10px;
    padding-top: 140px;
}

/* Aside content styles */
aside {
    background-color: #fff;
    border-radius: 10px;
}

/* Footer styles */
footer {
    background-color: #007BFF;
    border-radius: 10px;
}

/* Footer paragraph styles */
footer p {
    color: #fff;
    font-size: x-large;
}

/* Navigation styles */
nav {
    position: fixed; 
    top: 0; 
    width: 100%; 
    margin-top: 65px;
}

/* Navigation list styles */
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Navigation list item styles */
nav li {
    border: 2px solid #fff;
    background-color: #007BFF;
    list-style-type: none;
    float: left;
    width: 14.28%;
    padding: 16px;
}

/* Navigation link styles */
nav li a {
    color: #fff;
    text-decoration: none;
    font-size: 20pt
}

/* Navigation list item hover styles */
nav li:hover {
    background-color: #0056b3;
}

/* Music control styles */
.music-control {
    position: fixed; 
    top: 15px;      
    right: 15px;    
    z-index: 1000;  
}
  
/* Music button styles */
#musicButton {
    width: 40px; 
    height: 40px;
    cursor: pointer;
}

/* List image styles */
.list-image {
    display: inline;
    margin-left: 10px;
    padding-bottom: 10px;
}

/* Product image styles */
.product-image { 
    padding-right: 20px;
    max-width: 100%;
    height: auto; 
}

/* Secondary heading styles */
h2 {
    display: inline;
}