/* Set the background color of the body */
body {
    background-color: #F5F5F5;
}

/* Style the header */
header {
    background-color: #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

/* Style the carousel images */
.carousel-item img {
    width: 100%;
    height: 700px;
}

/* Position the form to the right of the header */
#login-form {
    float: right;
}

/* Style the form field containers */
#login-form div {
    display: inline-block;
    margin-right: 10px;
}

/* Style the input fields */
#login-form input[type="password"],
#login-form input[type="email"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #000000;
}

/* Style the submit button */
#login-form button {
    background-color: #0059ff;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15pt;
}

/* Style the submit button on hover */
#login-form button:hover {
    background-color: #0056b3;
}

/* Style the gallery images */
.gallery-img {
    width: 100%;
    height: 300px;
    filter: grayscale(100%) blur(2px);
}

/* Style the image gallery container */
#img-gallery {
    padding-top: 10px;
}

/* Style the rows in the image gallery */
#img-gallery .row {
    margin-bottom: 10px;
}

/* Style the logo image */
#logo {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

/* Style the heading */
h1 {
    display: inline;
}

/* Style the subheading */
h3 {
    font-size: 24pt;
}

/* Style the paragraphs */
p {
    font-size: 10pt;
}

/* Style the main content area */
main {
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* Style the sidebar */
aside {
    background-color: #FFFFFF;
    border-radius: 10px;
}

/* Style the footer */
footer {
    background-color: #007BFF;
    border-radius: 10px;
}

footer p {
    color: #FFFFFF;
    font-size: 20pt;
}

/* Style the navigation menu */
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Style the navigation menu items */
nav li {
    border: 2px solid #FFFFFF;
    background-color: #007BFF;
    list-style-type: none;
    float: left;
    width: 14.285%;
    padding: 16px;
}

/* Style the navigation menu links */
nav li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18pt;
}

/* Style the navigation menu item on hover */
nav li:hover {
    background-color: #0056b3;
}

/* Style the active navigation menu item */
.active {
    background-color: #FFFFFF;
}

/* Style the table */
table {
    font-family: Verdana, Geneva, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* Style the table cells and headers */
table td, table th {
    border: 2px solid #F0F0F0;
    text-align: center;
    vertical-align: middle;
    width: 100px;
    padding: 5px;
}

/* Style the even rows in the table */
table tr:nth-child(even) {
    background-color: #F2F2F2;
}

/* Style the table rows on hover */
table tr:hover {
    background-color: #007BFF;
}

/* Style the table headers */
table th {
    background-color: #007BFF;
    color: white;
    font-size: 15pt;
}

/* Style the contact container */
.contact-container {
    display: flex;
}

/* Style the right column in the contact container */
#right-col {
    width: 55%; 
    overflow: hidden;
    margin: 20px;
}

/* Style the iframe in the right column */
#right-col iframe {
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
}

/* Style the left column in the contact container */
#left-col {
    flex: 0 0 45%;
    margin-right: 20px;
}

/* Style the left column */
#left-col {
    border: 1px solid #000000;
    margin: 20px;
    padding: 20px;
    float: left;
}

/* Style the form */
#contact-form {
    margin-bottom: 20px;
}

/* Style the fieldset */
#contact-form fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

/* Style the legend */
#contact-form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style the labels */
#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: large;
}

#contact-form p {
    font-size: 20px;
}

/* Style the input fields */
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="comment"],
#contact-form input[type="file"] {
    border: 1px solid #000000;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
}

/* Style the submit button */
#contact-form button[type="button"] {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20pt;
}

/* Style the submit button on hover */
#contact-form button[type="button"]:hover {
    background-color: #0056b3;
}

/* Style the event paragraph */
#event-p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

/* Style the events form */
#event-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the form inputs */
#event-form input[type="text"],
#event-form input[type="date"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
}

/* Style the submit button */
#event-form button {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20pt;
}

/* Style the submit button on hover */
#event-form button:hover {
    background-color: #0056b3;
}
